*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7399BD;
    color: white;
}
body {
    width: 100%;
    margin: 0 auto;
}

#score_container {
    width: 40%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 60px;
    margin-top: 20px;   
    border: 2px solid #9ACDFC; 
    padding: 30px;
}


.emoji {
  width: 60%;
margin: 0 auto;
  border: 1px solid #9ACDFC;
  border-radius: 50%;
}

#heading {
    text-align: center;
    padding: 40px;
    font-size: 60px;
    color: #3775B0;
}

.player_options {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 60px; 
}

#rock_choice {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    cursor: pointer; 
}


#paper_choice {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px; 
    cursor: pointer; 
}
#scissors_choice {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px; 
    cursor: pointer; 
}

#computer_option {
    width: 40%;
    margin: 50px auto;
    display: flex;
    text-align: center;
    font-size: 30px; 
    align-items: center;
}

.emoji_computer {
    width: 20%;
    text-align: center;
    font-size: 60px;

}